<% if @flights %>
  <% choice = [params[:flight][:departure_airport_id], params[:flight][:arrival_airport_id], params[:flight][:number_of_passangers], params[:flight][:start]] %>
<% else%>
  <% choice = [0, 0, 0, 0] %>
<% end %>

<ol>
  <%= form_tag(flights_path, method: :get) do %>
    <li>
      <%= label_tag 'flight_departure_airport_id', 'Departure Airport' %>
      <%= select(:flight, :departure_airport_id, @all_flights.map{ |f| [ f.departure_airport.code, 
      f.departure_airport_id ] }.uniq, selected: choice[0]) %>
    </li>
    <li>
      <%= label_tag 'flight_arrival_airport_id', 'Arrival Airport' %>
      <%= select(:flight, :arrival_airport_id, @all_flights.map{ |f| [ f.arrival_airport.code, 
      f.arrival_airport_id ] }.uniq, selected: choice[1]) %>
    </li>
    <li>
      <%= label_tag 'flight_number_of_passangers', 'Number Of Passangers' %>
      <%= select(:flight, :number_of_passangers, 1..4, selected: choice[2]) %>
    </li>
    <li>
      <%= label_tag 'flight_start', 'Flight Date' %>
      <%= select(:flight, :start, @all_flights.map{|a| a.start.strftime("%Y-%m-%d")}.uniq, selected: choice[3]) %>
    </li>
    <%= submit_tag 'Search' %>
  <% end %>
</ol>
<%= link_to 'Back', flights_path %>

<% if @flights %>
  <%= form_tag(new_booking_path, method: :get) do %>
    <ol>
      <% @flights.each do |flight| %>
        <li>
          <%= hidden_field_tag :number_of_passangers, choice[2] %>
          <p><%= radio_button_tag :flight_id, flight.id %>Date and time: <%= flight.start %></p>
          <p>Departure airport: <%= flight.departure_airport.code %></p>
          <p>Arrival airport: <%= flight.arrival_airport.code %></p>
          <p>Flight duration: <%= flight.flight_duration %> hours</p>
        </li>
      <% end %>
    </ol>
    <%= submit_tag 'Choose' %>
  <% end %>
<% end %>